header {
    position: relative;
    padding: 0 8%;
    position: sticky;
    top: 0;
    background-color: rgba(243, 238, 227, 0.966);
    z-index: 99;
}

.nav_bar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_ul {
    display: flex;
    gap: 2rem;
}
.nav_logo {
    font-size: 1.2rem;
    font-weight: 600;
}

.nav_logo a {
    text-decoration: none;
}

.nav_ul a {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    transition: all ease 0.5s;
    padding: 5px 5px;
    margin: 0px 15px;
    color: var(--primary-color-1);
    font-size: 1.1rem;
}

.nav_item {
    list-style: none;
}

.nav_link:hover {
    color: var(--primary-yellow);
}

.nav_ul a::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0px;
    width: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2px;
    background: var(--primary-yellow);
    transition: all ease 0.5s;
}

.nav_ul a:hover::after {
    width: 40%;
}

.nav_ul a.active {
    color: var(--primary-yellow);
}

.nav_ul a.active::after {
    width: 40%;
}

.btn_menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.btn-menu {
    border-radius: 30px;
    padding: 10px 20px;
    background-color: var(--primary-color-1);
    border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: var(--box-shadow-1);
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.drop_menu {
    position: absolute;
    right: 2rem;
    top: 80px;
    width: 300px;
    height: 0;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}

.drop_menu a {
    text-decoration: none;
    font-weight: 600;
    transition: all ease 0.5s;
    padding: 5px 5px;
    margin: 0px 15px;
    color: var(--primary-color-1);
    font-size: 1.1rem;
}

.drop_menu.open {
    height: 360px;
}

.drop_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-down {
    border-radius: 30px;
    padding: 10px 15px;
    background-color: var(--primary-color-1);
    border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: var(--box-shadow-1);
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
}
.btn-down:hover {
    background-color: var(--primary-color-2);
}
