.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1500px;
    margin: auto;
    min-height: calc(100vh - 20vh);
}

.home-title h2 {
    font-size: 2.4rem;
    padding: 1rem;
}

.home-title p {
    color: #000000;
    line-height: 30px;
    font-size: 1rem;
    padding: 1rem;
    padding-right: 50px;
}

.home-img img {
    width: 100%;
    height: auto;
}
