.review {
    padding-bottom: 30px;
    min-height: 50vh;
}
.customers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
}

.heading {
    text-align: center;
    font-weight: 600;
    color: var(--primary-color-1);
    line-height: 2.4rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

.costumers-box {
    padding: 20px;
    box-shadow: var(--box-shadow-1);
    border-radius: 0.5rem;
    text-align: center;
    background-color: #ffffff;
}

.stars .fa-star,
.fa-star-half-stroke {
    color: var(--secondary-yellow);
}

.costumers-box p {
    font-size: 0.938rem;
}

.costumers-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.costumers-box img {
    width: 90px;
    height: 90px;
    border-radius: 50;
    object-fit: cover;
}
