@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav_item {
    list-style: none;
}

.nav_ul a {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    transition: all ease 0.5s;
    padding: 5px 5px;
    margin: 0px 15px;
}

.nav_link:hover {
    color: chartreuse;
}

header {
    position: relative;
    padding: 1rem 2rem;
}

.nav_bar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_ul {
    display: flex;
    gap: 2rem;
}

.logo img {
    font-size: 2rem;
}

.btn_menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.drop_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(21, 247, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}

.drop_menu.open {
    height: 240px;
}

.drop_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.main_img img {
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    width: 100%;
}

.main_content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-align: center;
}

.main_content .section_description {
    margin-bottom: 2rem;
}

.main_btn {
    text-align: center;
}

.section_container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

.section_description {
    line-height: 1.75rem;
    text-align: center;
}

.main_imgdown img {
    max-width: 100%;
    margin-inline: auto;
    display: flex;
    width: 100%;
    margin-top: 3rem;
}

.btn {
    border-radius: 30px;
    padding: 15px 25px;
    background-color: rgb(6, 180, 180);
    border: none;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(0, 223, 223);
}

.nav_ul a::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0px;
    width: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2px;
    background: firebrick;
    transition: all ease .50s;
}

.nav_ul a:hover::after {
    width: 40%;
}

.nav_ul a.active {
    color: firebrick;
}

.nav_ul a.active::after {
    width: 40%;
}

@media (min-width: 992px) {
    .main_container {
        grid-template-columns: 2fr 3fr;
        align-items: center;
    }

    .main_content h1,
    .main_content .section_description,
    .main_btn {
        text-align: left;
    }
    .main_img {
        grid-area: 1/2/2/3;
    }
}

@media (max-width: 992px) {
    .nav_bar .nav_ul {
        display: none;
    }
    .nav_bar .btn_menu {
        display: block;
    }

    .drop_menu {
        display: block;
    }
    .main_img img {
        max-width: 300px;
    }
}

@media (max-width: 575px) {
    .drop_menu {
        top: 100px;
        left: 2rem;
        width: unset;
    }
}
